<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="nordiasoft.devoir.CorbaConfigurationLauncher"
            icon="icons/nordiasoft_logo.png"
            id="nordiasoft.devoir.Corba_Launcher">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="nordiasoft.devoir.model.launcher.CorbaLaunchConfiguration"
            id="nordiasoft.devoir.CorbaConfigurationLauncher"
            modes="run, debug"
            name="NordiaSoft Corba Launcher">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="nordiasoft.devoir.view.launcher.CorbaLauncherTabGroup"
            id="nordiasoft.devoir.launchConfigurationTabGroup"
            type="nordiasoft.devoir.CorbaConfigurationLauncher">
      </launchConfigurationTabGroup>
   </extension>
   <extension 
     point="org.eclipse.ui.startup">
         <startup class="nordiasoft.devoir.controller.StartupClass"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="nordiasoft.devoir.view.category"
            name="NordiaSoft Corba">
      </category>
      <view
            category="nordiasoft.devoir.view.category"
            class="nordiasoft.devoir.view.decouverte.DecouverteView"
            icon="icons/nordiasoft_logo.png"
            id="nordiasoft.devoir.view"
            name="Découverte"
            restorable="true">
      </view>
   </extension>
   

</plugin>
